.search-bar {
      width: 100%;
      margin: auto;
      padding: 1rem;

      background: var(--dark-gray);

      display: flex;
      align-items: center;
      justify-content: center;
}

.search-input {
      width: 30%;
      padding: 12px 15px;
      outline: none;
      border: none;
}

.search-btn {
      padding: 12px 15px;
      outline: none;
      border: none;

      background: rgb(231, 220, 65);
      color: rgb(0, 0, 0);
}