:root {
    --dark-gray: rgb(37, 37, 37);

    --primary-font: 'Roboto Condensed', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--primary-font);
}

body {
    background: rgb(0, 0, 0);
}






